{
  "openapi":"3.1.0",
  "info":{
    "title":"HTML&HTML Website AI & Search Readiness API",
    "version":"2.3.0",
    "description":"Public contracts for the 12-engine evidence diagnosis, 13 non-scoring Intelligence Audits, seven readiness lenses, paid AI Mention Tracker and entitlement-gated $149 Full Site Fix Mandate. Evaluated signals are internal heuristics; NOT_MEASURED and REQUIRES_CONTEXT are preserved instead of fabricated scores."
  },
  "servers":[{"url":"https://htmlandhtml.com"}],
  "paths":{
    "/api/health":{"get":{"summary":"Service health and capability state","operationId":"getHealth","responses":{"200":{"description":"Health state"}}}},
    "/api/scan":{"post":{"summary":"Run the public 12-engine diagnosis plus 13 Intelligence Audits","operationId":"scanWebsite","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["domain"],"properties":{"domain":{"type":"string","examples":["example.com"]}}}}}},"responses":{"200":{"description":"Evidence-backed scan result with unchanged 12-engine core scores and non-scoring intelligence report"},"400":{"description":"Invalid or unscannable target"},"403":{"description":"Target rejected by network safety boundary"}}}},
    "/api/intelligence":{"post":{"summary":"Run the public Search & AI Intelligence Audit","description":"Returns exactly 13 analyses and seven internal readiness lenses. Information Gain is a within-site public differentiation signal, not a Google score. Render parity and source-code governance remain NOT_MEASURED/REQUIRES_CONTEXT without the required evidence.","operationId":"auditIntelligence","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"domain":{"type":"string"},"url":{"type":"string"}},"anyOf":[{"required":["domain"]},{"required":["url"]}]}}}},"responses":{"200":{"description":"Non-scoring intelligence report"},"400":{"description":"Invalid or unscannable target"},"403":{"description":"Target rejected by network safety boundary"}}}},
    "/api/mandate":{"post":{"summary":"Generate the $149 entitlement-gated Full Site Fix Mandate","operationId":"generateFixMandate","security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["domain"],"properties":{"domain":{"type":"string"},"baseline_scan":{"type":"object"}}}}}},"responses":{"200":{"description":"Paid implementation mandate, 50-page maximum, including intelligence priorities"},"402":{"description":"Valid paid entitlement required"},"503":{"description":"Paid mandate entitlement is not configured"}}}},
    "/api/mentions":{"get":{"summary":"AI Mention Tracker availability","responses":{"200":{"description":"Provider and paid-access configuration status"}}},"post":{"summary":"Run paid neutral-prompt AI mention measurement","description":"Measures provider API/search-grounded surfaces; consumer app results can differ.","parameters":[{"in":"header","name":"x-ai-mention-token","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Mention observations and citation evidence"},"400":{"description":"Invalid or biased prompt"},"402":{"description":"Paid access required"},"503":{"description":"Paid module/provider configuration unavailable"}}}}
  },
  "components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer"}}}
}
